<main>
<div class="containar">
 <div class="row">
  <div class="col-lg-12"><%= image_tag 'railway.jpg', size: 'x' %>
   <div class="card-img-overlay">
    <p class="text-white"><strong>Welcom to Playground!!!</strong></p> 
     <p><%=link_to "Playground" , blogs_path, class: "btn btn-secondary" %></p>
   </div>
  </div>
 </div>
</div>
</main>